<!-- Template Source: https://www.bootdey.com/snippets/view/white-chat -->
<main class="content">
  <div class="container p-0">

  <h1 class="h3 mb-3">Messages</h1>

  <div class="card">
    <div class="row g-0">
      <div class="col-12 col-lg-5 col-xl-3 border-right">

        <div class="px-4 d-none d-md-block">
          <div class="d-flex align-items-center">
          </div>
        </div>
        <!-- User Panel -->
        <div *ngIf="chatroomUsers">
          <a class="list-group-item list-group-item-action border-0" *ngFor="let user of chatroomUsers">
            <div class="d-flex align-items-start">
              <img src="https://iss-bucket-343346.s3.ap-southeast-1.amazonaws.com/{{user.userHandles}}" class="rounded-circle mr-1" width="40" height="40">
              <div class="flex-grow-1 ml-3">
                {{ user.userHandles }}
                <div class="small"><span class="fas fa-circle chat-online"></span> Online</div>
              </div>
            </div>
          </a>
        </div>
        <hr class="d-block d-lg-none mt-1 mb-0">
      </div>
      <div class="col-12 col-lg-7 col-xl-9">
        <div class="py-2 px-4 border-bottom d-none d-lg-block">
          <form [formGroup]="addUserForm" (ngSubmit)="addRoomUser()" class="d-flex align-items-center py-1">
              <input type="text" id="accountHandle" class="form-control" formControlName="accountHandle" 
              placeholder="Add By User Handle">
              <button [disabled]="this.addUserForm.invalid" class="btn btn-light border btn-lg" 
              type="submit">+</button>
          </form>
        </div>
        <div class="position-relative">
          <div class="chat-messages p-4">

            <div class="chat-message-right pb-4">
              <div>
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle" alt="Chris Wood" width="40" height="40">
                <div class="text-muted small text-nowrap mt-2">2:33 am</div>
              </div>
              <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                <div class="font-weight-bold mb-1">You</div>
                Lorem ipsum dolor sit amet, vis erat denique in, dicunt prodesset te vix.
              </div>
            </div>

            <div class="chat-message-left pb-4">
              <div>
                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                <div class="text-muted small text-nowrap mt-2">2:34 am</div>
              </div>
              <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                <div class="font-weight-bold mb-1">Sharon Lessman</div>
                Sit meis deleniti eu, pri vidit meliore docendi ut, an eum erat animal commodo.
              </div>
            </div>
          </div>
        </div>

        <div class="flex-grow-0 py-3 px-4 border-top">
          <form [formGroup]="messageForm" class="input-group" (ngSubmit)="submitPost()">
            <input type="text" class="form-control" formControlName="post" placeholder="Type your message">
            <button class="btn btn-primary" type="submit" [disabled]="this.messageForm.invalid" >Send</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
</main>