<div class="alert alert-danger" [hidden]="!error">
	There was a problem logging in. Please try again.
</div>
<form [formGroup] = 'credentials' (ngSubmit)="login()">
  <!-- Username input -->
  <div class="form-outline mb-4 w-50 mx-auto">
		<label class="form-label" for="username">Username:</label>
    <input type="text" id="username" class="form-control" formControlName="username" placeholder="Username" />
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4 w-50 mx-auto">
		<label class="form-label" for="password">Password:</label>
    <input type="password" id="password" class="form-control" formControlName="password" placeholder="Password"/>
  </div>

  <!-- Submit button -->
  <div class="d-grid gap-2 w-50 mx-auto">	
		<button type="button" class="btn btn-primary" [disabled]="this.credentials.invalid" type="submit">Login</button>
	</div>

</form>
