<div *ngIf="this.appService.authenticated; else unauthenticated" class="mb-4 w-50 mx-auto">
  <br/><br/>
  <span *ngIf="this.chatroomData">
    <div *ngFor="let room of chatroomData" class="border border-secondary rounded-pill mb-4" (click)="enterChatroom(room.chatroomId)">
      <p class="text-center font-weight-light">Chatroom Name : {{room.chatroomName}}</p>
      <p class="text-center">Id: {{room.chatroomId}}</p>
    </div>
  </span>
  <form [formGroup]="createRoom" (ngSubmit)="createChatroom()">
    <div class="d-grid gap-2 w-50 mx-auto">	
      <div class="form-outline mb-4 mx-auto">
        <input type="text" id="chatroomName" class="form-control" formControlName="chatroomName" placeholder="Chatroom Name" />
      </div>
      <button type="submit" class="btn btn-primary" >Create New Chatroom</button>
    </div>
  </form>
</div>

<ng-template #unauthenticated class="mb-4 w-50 mx-auto">
  Please Login.
</ng-template>